// Variables

$font-family-main: "Lato", sans-serif;

$dark-0: #000;
$dark-1: #101010;

////////////

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: $font-family-main;
  background-color: $dark-1;
}
h1,
h2,
h3,
h4,
h5,
p,
small {
  font-family: $font-family-main !important;
  font-weight: 300;
}

p {
  letter-spacing: 0.5px;
}

section {
  height: max-content;
}
.text-dark {
  color: $dark-1 !important;
}
h3.is-bold {
  font-weight: 700;
}

.page-container {
  max-width: 1024px;
  margin: 0 auto;
  height: fit-content;
  // height: 100%;
  background-color: $dark-1;
  scroll-snap-type: y mandatory;
}

.backhero {
  // background-image: url("./images/deep.png");
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 164vw;
  background-position-x: center;
  /* background-size: contain; */
  padding: 3rem;
}

.hero-body {
  padding: 0;
  margin: 0;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  line-height: 109px;
  font-weight: 300;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

h3.spaced {
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  font-weight: 300;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h3.spaced-bold {
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.extra-space {
  display: block;
  height: 10rem;
}

.space {
  display: block;
  height: 5rem;
  width: 100%;
}

.space-mobile-photo-2 {
  display: block;
  height: 400px;
  width: 100%;
}

.box-title {
  letter-spacing: 3px;
  background-color: $dark-1;
  position: relative;
  z-index: 1;
  text-align: center;
  width: fit-content;
  padding: 0.25rem 1rem;
}

.white-card {
  background-color: #fff;
  margin-top: -2.75rem;
  text-align: center;
}

.concircle {
  background: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  height: 200px;
  width: 200px;
  position: relative;
  box-shadow: inset 0 0 0 80px $dark-1;
  margin: 0 auto;
}

h3.moment-snap {
  scroll-snap-align: end;
}

.border-circle-white {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 auto;
  line-height: 20px;
  margin-top: 20px;
}

section#2 {
  height: 200vw;
}

p.heavy {
  font-weight: 400;
}

.foot {
  height: 1100px;
  padding-top: 100px;
  padding-left: 20px;
}
